
/***** Color Palette *****/
/*
#E4991A (yellow)
#202882 (blue)
#02B1AD (aqua blue)
#911212 (red)
#000000 (black)
#262626 (dark gray)
*/

.placeholder {
    height: 250px;
    width: 250px;
    border-radius: 30px;
    overflow: hidden;
}
li {
    list-style: none;
}
.main-header h1,
footer p {
    font-family: 'Shrikhand', cursive;
    font-size: 2.3em;
}
h2,
.description,
.about-me,
.nav-items li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}
a {
    color: #262626;
}
a:hover,
a:active,
a:focus {
    color: #E4991A;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
.current-page {
    color: #02B1AD;
}

@media all and (min-width: 300px) {
    .main-nav,
    .main-gallery {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .main-header,
    .nav-items,
    .social-media,
    .placeholder,
    .project-img-1,
    .project-img-2,
    .project-img-3,
    .project-img-4,
    .project-img-5,
    .project-description,
    .social-media a,
    .about-me {
        margin: auto;
    }
    .about-me {
        width: 80%;
        text-align: center;
        margin-top: 50px;
    }
    .placeholder {
        margin-left: 75px;
        margin-right: 75px;
    }
    .nav-items {
        padding-left: 0;
    }
    .nav-items li {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .main-header {
        margin-top: 75px;
        margin-bottom: 25px;
    }
    .main-header h2 {
        margin-top: 0;
    }
    .social-media {
        display: flex;
        margin-top: 15px;
        justify-content: center;
        width: 40%;
    }
    .social-media a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .project-teaser {
        width: 100%;
    }
    .placeholder,
    .project-description {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .one {
        background-color: #E4991A;
    }
    .two {
        background-color: #202882;
    }
    .three {
        background-color: #02B1AD;
    }
    .four {
        background-color: #911212;
    }
    .five {
        background-color: #262626;
    }
    footer,
    .description-header,
    .description,
    .main-header h1,
    .main-header h2 {
        text-align: center;
    }
    /*** PROJECT PAGES ***/
    .project-img-1,
    .project-img-2,
    .project-img-3,
    .project-img-4,
    .project-img-5 {
        width: 85%;
        border-radius: 30px;
        overflow: hidden;
    }
    .project-page-img {
        width: 100%;
    }
    .project-description {
        border-top: dashed 1px #d2d2d2;
        border-bottom: dashed 1px #d2d2d2;
        width: 85%;
    }
}

@media all and (min-width: 600px) {
    .main-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .placeholder {
        margin-left: 50px;
        margin-right: 50px;
    }
    .project-img-1,
    .project-img-2,
    .project-img-3,
    .project-img-4,
    .project-img-5,
    .project-description,
    .description-header,
    .description,
    .about-me {
        width: 65%;
    }
    .description-header,
    .description {
        margin: auto;
    }
    .description-header,
    .project-description p,
    .project-img-1,
    .project-img-2,
    .project-img-3,
    .project-img-4,
    .project-img-5 {
        margin-bottom: 15px;
    }
    .project-description {
        margin-bottom: 50px;
    }
    .description-header {
        margin-top: 15px;
    }
    .nav-items li {
        font-size: 1.2em;
    }
    .main-header h1 {
        margin-bottom: 5px;
    }
    .nav-items {
        margin-bottom: 25px;
    }
}

@media all and (min-width: 1100px) {
    .project-img-1,
    .project-img-2,
    .project-img-3,
    .project-img-4,
    .project-img-5 {
        width: 55%;
        margin-top: 35px;
    }
}
